<% layout('common/layout') -%>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Challenges Details</h6>
        
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>
                <th>S. No.</th>
                <th>Title</th>
                <th>Fee</th>
                <th>Players</th>
                <th>Win Amount</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% 
              if(data.challenges){  
              data.challenges.forEach(function(data, index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= data.title %></td>
                  <td><%= data.challengeFee %></td>
                  <td><%= data.noOfPlayer %> </td>
                  <td><%= data.winAmount %> </td>
                  <td class="white-space"><span class="status text-success">•</span><%= data.status %></td>
                  <td class="white-space">
                    <a class="add btn btn-info" title="" href="/admin/challenge/<%= (data._id) %>/detail" data-toggle="tooltip" data-original-title="View Detail" ><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
              <% }); } %>
            </tbody>
          </table>
          <% if (pages > 0) { %>
            <% var pageUrl= '/admin/challengs/'; %>
            <%- include common/pagination.ejs %>
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
</div>