<% layout('common/layout') -%>
<h1 class="h3 mb-2 text-gray-800">Game Management</h1>
<div class="row  mb-4">
  <div class="col-lg-12">
    <% if (message) { %>
      <div class="alert alert-success"><strong>Success!</strong> <%= message %></div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-danger"><strong>Error!</strong> <%= error %></div>
    <% } %>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><% if (typeof gameid == 'undefined' || _.isEmpty(gameid)) { %>Add<% } else {%>Edit<% }%> Game</h6>
      </div>
      <div class="card-body">
        <form class="form-horizontal row" method="POST"  enctype="multipart/form-data">
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" placeholder="Game name" class="form-control" value="<%= (data.detail && data.detail.name) ? data.detail.name : '' %>">
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Logo</label>
              <input type="file" name="logo" placeholder="Game logo" class="form-control">
              <% if (data.detail && typeof data.detail.logo != 'undefined' && !_.isEmpty(data.detail.logo)) { %>
              <img src="/uploads/games/<%= data.detail.logo %>" style="width: 30%">
              <% } %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Genre</label>
              <% var glselected = (data.detail && data.detail.genre && data.detail.genre =='Luck') ? "selected" : ""; %>
              <% var gsselected = (data.detail && data.detail.genre && data.detail.status =='Skill') ? "selected" : ""; %>
              <select name="genre" class="form-control">
                <option value="Luck"  <%=glselected %>>Luck</option>
                <option value="Skill"  <%=gsselected %>>Skill</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group">
              <label>Description </label>
              <textarea name="description" placeholder="Enter game Description" class="form-control" rows="4"><%= (data.detail && data.detail.description) ? data.detail.description : '' %></textarea>
            </div>
          </div>
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <label>Status</label>
              <% var Aselected = (data.detail && data.detail.status && data.detail.status =='active') ? "selected" : ""; %>
              <% var Iselected = (data.detail && data.detail.status && data.detail.status =='inactive') ? "selected" : ""; %>
              <select name="status" class="form-control">
                <option value="active" <%=Aselected %>>Active</option>
                <option value="inactive"  <%=Iselected %>>Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% if (typeof gameid == 'undefined' || _.isEmpty(gameid)) { %>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Game Details</h6>
        
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>
                <th>S. No.</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% 
              if(data.detail){
              data.detail.forEach(function(data, index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= data.name %></td>
                  <td><%= data.genre %></td>
                  <td><%= data.status %></td>
                  <td>
                    <!-- <a class="add btn btn-success" title="" data-toggle="tooltip" data-original-title="Add"><i class="fa fa-plus-circle"></i></a> -->
                    <a class="edit btn btn-warning" title="" href="/admin/game/edit/<%= data._id %>" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-alt"></i></a>
                    <a class="add btn btn-danger" href="/admin/game/delete/<%= data._id %>" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              <% }); } %>
            </tbody>
          </table>
          <% if (pages > 0) { %>
            <% var pageUrl= '/admin/games/'; %>
            <%- include common/pagination.ejs %>
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
</div>
<% } %>