<% layout('common/loginlayout') -%>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../images/loginbg-01.jpg);">
        <h1>Admin Panel</h1>
      </div>
      <% if (message) { %>
          <div class="alert alert-success"><strong>Success!</strong> <%= message %></div>
        <% } %>
        <% if (error) { %>
          <div class="alert alert-danger"><strong>Error!</strong> <%= error %></div>
        <% } %>
      <form class="login100-form" method="POST">
        <div class="wrap-input100  m-b-26" >
          <span class="label-input100">Username</span>
          <input class="input100" type="text" name="username" placeholder="Steffan Jones">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 m-b-18" >
          <span class="label-input100">Password</span>
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1" data-toggle="modal" data-target="#myModal">
              Forgot Password?
            </a>
            
          </div>
        </div>
        <!--Popup-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Forget Passwords</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row form-group">
              <label for="usr" class="col-md-3">Email:</label>
              <input type="text" class="form-control col-md-8" id="usr">
            </div>
            </div>
            <div class="modal-footer">
            
            <button type="submit" class="btn btn-success">Submit </button>
            </div>
          </div>
          </div>
        </div>
        <!--popup ends-->
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
