<% layout('common/layout') -%>
<link href="/tiny-date-picker/tiny-date-picker.css" rel="stylesheet">
<link href="/tiny-date-picker/date-range-picker.css" rel="stylesheet">

<h1 class="h3 mb-2 text-gray-800">Tournament Management</h1>
<div class="row  mb-4">
  <div class="col-lg-12">
    <% if (message) { %>
      <div class="alert alert-success"><strong>Success!</strong> <%= message %></div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-danger"><strong>Error!</strong> <%= error %></div>
    <% } %>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><% if (typeof tournamentid == 'undefined' || _.isEmpty(tournamentid)) { %>Add<% } else {%>Edit<% }%> Tournament</h6>
      </div>
      <div class="card-body">
        <form class="form-horizontal row ex-inputs" method="POST"  enctype="multipart/form-data">
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Game</label>
              <select name="gameid" class="form-control" required>
                <option value="">Select Game</option>
                <% 
                if(data.games){
                data.games.forEach(function(game, index) { %>
                <% var gchecked = (data.detail && data.detail.gameid && data.detail.gameid._id.toString() ==game._id.toString()) ? "selected" : ""; %>
                <option value="<%= game._id %>" <%=gchecked %>><%=jsUcfirst(game.name) %></option>
                <% }) } %>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" placeholder="Tournament name" class="form-control" value="<%= (data.detail && data.detail.name) ? data.detail.name : '' %>" required>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Entry Fees</label>
              <input type="number" min="0" id="entry_fee" name="entry_fee" placeholder="Entry Fee" class="form-control" value="<%= (data.detail && data.detail.entry_fee) ? data.detail.entry_fee : '' %>" required>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Logo</label>
              <input type="file" name="logo" placeholder="Tournament logo" class="form-control">
              <% if (data.detail && typeof data.detail.logo != 'undefined' && !_.isEmpty(data.detail.logo)) { %>
              <img src="/uploads/tournament/<%= data.detail.logo %>" style="width: 30%">
              <% } %>
            </div>
          </div>
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <label>Manual </label>
              <% var mchecked = (data.detail && data.detail.manual && data.detail.manual ==true) ? "checked" : ""; %>
              <div class="form-control" style="border: 0px !important">
              <label class="switch">
                <input type="checkbox" id="checkTournamentType" onclick="checkType(<%= mchecked %>)" name="manual" <%= mchecked %>>
                <span class="slider round"></span>
              </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 tr_schedule">
            <div class="form-group">
              <label>Start Date</label>
              <input type="text" name="startdate" placeholder="Start Date" class="form-control ex-inputs-start" id="datetimestart" value="<%= (data.detail && data.detail.startdate) ? data.detail.startdate : '' %>" autocomplete="off">
            </div>
          </div>
          <div class="ex-inputs-picker"></div>
          <div class="col-md-3 col-xs-12 tr_schedule">
            <div class="form-group">
              <label>End Date</label>
              <input type="text" name="enddate" placeholder="End Date" class="form-control ex-inputs-end" value="<%= (data.detail && data.detail.enddate) ? data.detail.enddate : '' %>" autocomplete="off" id="datetimeend">
            </div>
          </div>
           <div class="col-md-3 col-xs-12">
            <div class="form-group">
              <label>No Of Players</label>
              <input type="number" id="noOfPlayer" name="noOfPlayer" min="10" placeholder="No Of Players" class="form-control" value="<%= (data.detail && data.detail.noOfPlayer) ? data.detail.noOfPlayer : '' %>" required>
            </div>
          </div>
           <div class="col-md-3 col-xs-12">
            <div class="form-group">
              <label>Winning Amount</label>
              <input type="number" min="1" id="winning_amount" name="winning_amount" placeholder="No Of Winners" class="form-control" value="<%= (data.detail && data.detail.winning_amount) ? data.detail.winning_amount : '' %>">
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Sponsor</label>
              <select name="sponsorid" class="form-control" required>
                <option value="">Select Sponsor</option>
                <% 
                if(data.sponsors){
                data.sponsors.forEach(function(sponsor, index) { %>
                <% var schecked = (data.detail && data.detail.sponsorid && data.detail.sponsorid._id.toString() ==sponsor._id.toString()) ? "selected" : ""; %>
                <option value="<%= sponsor._id %>" <%= schecked%>><%=jsUcfirst(sponsor.name) %></option>
                <% }) } %>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <label>Status</label>
              <% var ochecked = (data.detail && data.detail.status && data.detail.status =='Ongoing') ? "selected" : ""; %>
              <% var uchecked = (data.detail && data.detail.status && data.detail.status =='Upcoming') ? "selected" : ""; %>
              <% var fchecked = (data.detail && data.detail.status && data.detail.status =='Finished') ? "selected" : ""; %>
              <select name="status" class="form-control">
                <option value="Upcoming" <%=uchecked %>>Upcoming</option>
                <option value="Ongoing" <%=ochecked %>>Ongoing</option>
                <% if(data.detail) { %>
                <!-- <option value="Finished" <%=fchecked %>>Finished</option> -->
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group">
              <label>Description </label>
              <textarea name="description" placeholder="Enter tournament Description" class="form-control" rows="4"><%= (data.detail && data.detail.description) ? data.detail.description : '' %></textarea>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% if (typeof tournamentid == 'undefined' || _.isEmpty(tournamentid)) { %>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Tournament Details</h6>
        
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>
                <th>S. No.</th>
                <th>Name</th>
                <th>Manual</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% 
              if(data.tournaments){
              data.tournaments.forEach(function(data, index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= data.name %></td>
                  <td><%= data.manual %> <% if(data.manual && data.status=='Upcoming') { %> | <a class="add btn btn-danger" href="/admin/tournament/start/<%= data._id %>" title="" data-toggle="tooltip" data-original-title="Start Tournament" onclick="return confirm('Are you sure you want to Start this Tournament?');">Start</a><% }%> <% if( data.status=='Ongoing') { %> | <a class="add btn btn-danger" href="/admin/tournament/stop/<%= data._id %>" title="" data-toggle="tooltip" data-original-title="Stop Tournament" onclick="return confirm('Are you sure you want to Finish this Tournament?');">Finish</a><% }%></td>
                  <td><%= data.status %></td>
                  <td>
                    <a class="add btn btn-info" title="" href="/admin/tournament/<%= (data._id) %>/detail" data-toggle="tooltip" data-original-title="View Detail" ><i class="fa fa-eye"></i></a>
                    <a class="edit btn btn-warning" title="" href="/admin/tournament/edit/<%= data._id %>" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-alt"></i></a>
                    <a class="add btn btn-danger" href="/admin/tournament/delete/<%= data._id %>" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              <% }) }; %>
            </tbody>
          </table>
          <% if (pages > 0) { %>
            <% var pageUrl= '/admin/tournaments/'; %>
            <%- include common/pagination.ejs %>
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
</div>
<% } %>
<link rel="stylesheet" type="text/css" href="/datetime/jquery.datetimepicker.css"/>
<!-- <script src="/tiny-date-picker/date-range-picker.min.js"></script> -->
<script src="/datetime/jquery.js"></script>
<script src="/datetime/php-date-formatter.min.js"></script>
<script src="/datetime/jquery.mousewheel.js"></script>
<script src="/datetime/jquery.datetimepicker.js"></script>
<script type="text/javascript">
(function () {
  $.datetimepicker.setLocale('en');

  // $('#datetimestart').datetimepicker({
  //   dayOfWeekStart : 1,
  //   lang:'en',
  //   // disabledDates:['1986/01/08','1986/01/09','1986/01/10'],
  //   startDate:  new Date()
  // });

  // $('#datetimeend').datetimepicker({
  //   dayOfWeekStart : 1,
  //   lang:'en',
  //   // disabledDates:['1986/01/08','1986/01/09','1986/01/10'],
  //   startDate:  $('#datetimestart').val()
  // });

  let current_datetime = new Date();
  let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + " " + current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" + current_datetime.getSeconds() 

  jQuery('#datetimestart').datetimepicker({
  format:'Y-m-d H:i:s',
  onShow:function( ct ){
   this.setOptions({
    minDate:new Date(),
    maxDate:jQuery('#datetimeend').val()?jQuery('#datetimeend').val():false
   })
  },
  // timepicker:false
 });
 jQuery('#datetimeend').datetimepicker({
  format:'Y-m-d H:i:s',
  onShow:function( ct ){
   this.setOptions({
    minDate:jQuery('#datetimestart').val()?jQuery('#datetimestart').val():false
   })
  },
  // timepicker:false
 });

 $("#entry_fee").bind("keyup change", function(e) {
  let entryFee = $("#entry_fee").val();
  if(entryFee > 0){ 
    $("#winning_amount").attr('readonly', true);
  }
  else
  {
   $("#winning_amount").attr('readonly', false); 
  }
  // let noOfPlayer = $("#noOfPlayer").val();
  // if(noOfPlayer > 0){ 
  //   $("#winning_amount").val(noOfPlayer * entryFee);
  // }
 })

 $("#noOfPlayer").bind("keyup change", function(e) {
  let noOfPlayer = $("#noOfPlayer").val();
  let entryFee = $("#entry_fee").val();
  // console.log(noOfPlayer, entryFee);
  // if(noOfPlayer > 0){ 
  //   $("#winning_amount").val(noOfPlayer * entryFee);
  // }
 })

  // const root = document.querySelector('.ex-inputs');
  // const txtStart = root.querySelector('.ex-inputs-start');
  // const txtEnd = root.querySelector('.ex-inputs-end');
  // const container = root.querySelector('.ex-inputs-picker');
  // const minYear = new Date().getFullYear();
  // const maxYear = minYear + 1;
  // const configData = {
  //   mode: 'dp-modal',
  //   startOpts: {
  //     min: new Date(),
  //     max: new Date(maxYear + '-01-01'),
  //     shouldFocusOnRender: true,
  //   },
  //   endOpts: {
  //     min: new Date(),
  //     max: new Date(maxYear + '-01-01'),
  //     shouldFocusOnRender: true,
  //   },
  //   format(date) {
  //     return date.toLocaleDateString();
  //   }
  // };
  // // Inject DateRangePicker into our container
  // DateRangePicker.DateRangePicker(container,configData)
  //   .on('statechange', function (_, rp) {
  //     // Update the inputs when the state changes
  //     var range = rp.state;
  //     txtStart.value = range.start ? range.start.toDateString() : '';
  //     txtEnd.value = range.end ? range.end.toDateString() : '';
  //   });

  // // When the inputs gain focus, show the date range picker
  // txtStart.addEventListener('focus', showPicker);
  // txtEnd.addEventListener('focus', showPicker);

  // function setValue(input, dt) {
  //   if (input !== document.activeElement) {
  //     input.value = dt ? dt.toDateString() : '';
  //   }
  // }

  // function showPicker() {
  //   container.classList.add('ex-inputs-picker-visible');
  // }

  // // If focus leaves the root element, it is not in the date
  // // picker or the inputs, so we should hide the date picker
  // // we do this in a setTimeout because redraws cause temporary
  // // loss of focus.
  // let previousTimeout;
  // root.addEventListener('focusout', function hidePicker() {
  //   clearTimeout(previousTimeout);
  //   previousTimeout = setTimeout(function() {
  //     if (!root.contains(document.activeElement)) {
  //       container.classList.remove('ex-inputs-picker-visible');
  //     }
  //   }, 10);
  // });

  if (document.getElementById('checkTournamentType').checked) 
  {
    document.getElementsByClassName("tr_schedule")[0].style.display = "none"; 
    document.getElementsByClassName("tr_schedule")[1].style.display = "none"; 
  } else {
    document.getElementsByClassName("tr_schedule")[0].style.display = "block"; 
    document.getElementsByClassName("tr_schedule")[1].style.display = "block"; 
  }

}());

function checkType(isType)
{
  if (document.getElementById('checkTournamentType').checked || isType =='checked') 
  {
    document.getElementsByClassName("tr_schedule")[0].style.display = "none"; 
    document.getElementsByClassName("tr_schedule")[1].style.display = "none"; 
  } else {
    document.getElementsByClassName("tr_schedule")[0].style.display = "block"; 
    document.getElementsByClassName("tr_schedule")[1].style.display = "block"; 
  }
}
</script>