<% layout('common/layout') -%>
<h1 class="h3 mb-2 text-gray-800">User Detail</h1>
<div class="row  mb-4">
  <div class="col-lg-12">
    <div class="card">
      <!-- <div class="card-header d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">User detail</h6>
      </div> -->
      <div class="card-body">
        <% if(data.detail.walletid !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Wallet Id : </b></label>
            <%= data.detail.walletid  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.username !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Username : </b></label>
            <%= data.detail.username  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.fname !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>First Name : </b></label>
            <%= data.detail.fname  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.lname !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Last Name :</b> </label>
            <%= data.detail.lname  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.email !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Email :</b> </label>
            <%= data.detail.email  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.status !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Status :</b></label>
            <%= data.detail.status  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.universal_level !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Universal Level :</b></label>
            <%= data.detail.universal_level  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.individual_game_level !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Individual Level :</b></label>
            <%= data.detail.individual_game_level  %>
          </div>
        </div>
        <% }%>
        <% if(data.detail.total_win_amount !='') { %>
        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label><b>Total Win :</b></label>
            <%= data.detail.total_win_amount  %>
          </div>
        </div>
        <% }%>
      </div>
    </div>
  </div>
</div>