<% layout('common/layout') -%>
<!-- <h1 class="h3 mb-2 text-gray-800">User Management</h1>
<div class="row mb-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4> Filter By</h4>
      </div>
      <div class="card-body">
        
        <form class="form-horizontal row">
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Username </label>
              <input type="text" placeholder="Jameslaups" class="form-control">
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Email </label>
              <input type="email" placeholder="support@bitplaza.biz" class="form-control">
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label> &nbsp; </label>
            <button type="button" class="btn btn-success d-block">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> User Details</h6>
        
      </div>
      <!-- Card Body -->
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>
                <th>S. No.</th>
                <th>WalletID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Verified</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% 
              if(data.detail){  
              data.detail.forEach(function(data, index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= (data.walletid) %></td>
                  <td><%= data.username %></td>
                  <td><%= data.email %> </td>
                  <td><%= data.is_verified %> </td>
                  <td class="white-space"><span class="status text-success">•</span><%= data.status %></td>
                  <td class="white-space">
                    <!-- <a class="edit btn btn-warning" title="" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-alt"></i></a> -->
                    <a class="add btn btn-info" title="" href="/admin/user/<%= (data._id) %>/detail" data-toggle="tooltip" data-original-title="View Detail" ><i class="fa fa-eye"></i></a>
                    <a class="add btn btn-danger" href="/admin/user/delete/<%= data._id %>" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this User?');"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              <% }); } %>
            </tbody>
          </table>
          <% if (pages > 0) { %>
            <% var pageUrl= '/admin/users/'; %>
            <%- include common/pagination.ejs %>
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
</div>