<% layout('common/layout') -%>

<div class="row align-items-center">
  <div class="col-12 col-md-6 align-top">
    <div class="card shadow align-top">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Challenge Detail</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Title</td>
              <td><%= data.challenge.title %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Remaining Players</td>
              <td><%= data.challenge.noOfPlayer %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">No of Players</td>
              <td><%= data.challenge.remainingPlayer %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Fees</td>
              <td><%= data.challenge.challengeFee %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Win Amount</td>
              <td><%= data.challenge.winAmount %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Status</td>
              <td><%= data.challenge.status %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12"> 
    <div class="card shadow ">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Other Detail</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Creator</td>
              <td><%= data.owner.walletid %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Slots</td>
              <td><% 
              if(data.challenge.slots){  
              data.challenge.slots.forEach(function(row, index) { %><%= row+ ' , ' %><% }); } %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Occupied Slots</td>
              <td><% 
              if(data.challenge.slotOccupied){  
              data.challenge.slotOccupied.forEach(function(row, index) { %><%= row %><% }); } %></td>
            </tr>            
            <tr>
              <td colspan="2" class="h6 lgfont-weight-bold text-info mb-1">Selected Slots</td>
            </tr>
            <% 
              if(data.challenge.selectedSlot){  
              data.challenge.selectedSlot.forEach(function(row, index) { %>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">User wallet Id / Slot</td>
              <td><%= row.walletId %> / <%= row.slot %></td>
            </tr>
            <% }); } %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>
</div>