<% layout('common/layout') -%>

<div class="row align-items-center">
  <div class="col-12 col-md-6 align-top">
    <div class="card shadow align-top">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tournament Detail</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Title</td>
              <td><%= data.tournament.name %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Entry Fee</td>
              <td><%= data.tournament.entry_fee %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Description</td>
              <td><%= (data.tournament.description) ? data.tournament.description : '' %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Manual</td>
              <td><%= data.tournament.manual %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Start Date</td>
              <td><%= (data.tournament.startdate) ? data.tournament.startdate : '' %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">End Date</td>
              <td><%= (data.tournament.enddate) ? data.tournament.enddate : '' %></td>
            </tr>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Status</td>
              <td><%= data.tournament.status %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12"> 
    <div class="card shadow ">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Other Detail</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">Game</td>
              <td><%= data.tournament.gameinfo.name %></td>
            </tr>         
            <tr>
              <td colspan="2" class="h6 lgfont-weight-bold text-info mb-1">Bets</td>
            </tr>
            <% 
              if(data.bets){  
              data.bets.forEach(function(row, index) { %>
            <tr>
              <td class="h6 lgfont-weight-bold text-info mb-1">User wallet Id / Amount / PayOut Amount</td>
              <td><%= row.walletId %> / <%= row.betAmount %> / <%= row.payoutAmount %></td>
            </tr>
            <% }); } %>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>
</div>