@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
h1,h2,h3,h4,h5,h6{ 
	font-family:  'Poppins-Regular', sans-serif;
	font-weight: 600!important;}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}
/*margin*/
.mt-15{margin-top:15%}
.pt-10{padding-top: 10%}
.ptb-10{padding: 10% 0}
.fl-left{float: left;}
.fl-right{float: left;}
.align-item{align-items: center}
.txt-green{color: #20ba5e;}
.top-header .bg-dark{background-color: rgba(0,0,0,0.3) !important; }
.hero-image{width:100%;background: url(../images/hero-banner.jpg);background-size: cover;display: block;}
.top-header{width: 100%; display: block;position: absolute; z-index: 99999; }
.top-header .navbar-nav{margin-left:auto;}
.top-header .navbar{padding: 20px 0px;width: 100%}
.top-header .navbar-dark .navbar-nav .nav-link{color:#fff;font-family: 'Raleway', sans-serif;}
.navbar-nav .free-subscribe{padding: 0.8rem 1.5rem!important; line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline; border: 1px solid rgba(255,255,255,0.3); border-radius: 10rem;margin-left: 15px;color:#1eb858!important;cursor: pointer;}
.navbar-nav .free-subscribe:hover, .navbar-nav .free-subscribe:focus{color: #fff!important;background: #1eb858}
.top-header ul li a{text-transform: uppercase; font-size: 0.8rem;}
.banner-caption{width:100%; text-align: center;}
.banner-caption h1{color: #fff;  font-family: "Poppins-Regular",sans-serif;font-size: 2.25rem;font-weight: 600}
.banner-caption p{color: #abafb8}
.search-by-phone{padding: 0 25%;}
.search-by-phone h2, .search-by-phone p{padding: 10px 0;}
.btn-search .single { max-width:60%; margin: 0 auto; text-align: center; position: relative; z-index: 2; } 
.btn-search .single h2 { font-size: 22px; color: white; text-transform: uppercase; margin-bottom: 40px; } 
.btn-search .single .input-group{ background: #fff; border-radius: 50px; padding: 2px; } 
.btn-search .single .form-control { height: 60px; background: rgba(255, 255, 255,1); border-color: transparent; border-radius: 80px 0 0 80px; color:#858585; font-size: 1.75rem; font-family: 'Open Sans', sans-serif; padding-left: 20px; } ::-webkit-input-placeholder { color: #858585; } :-ms-input-placeholder { color: #858585; } ::placeholder { color: #858585; } 
.btn-search .single .form-control:focus { box-shadow: none; } 
.btn-search .single .btn { min-width: 200px; min-height: 60px; border-radius: 80px; background: #20bc5d; color: #fff; padding: 0 40px; text-transform: uppercase; font-size: 1.3rem; font-family: 'Poppins-Regular', sans-serif; }
.showcase-img{width: 88%;}
.btn-subcription{border-radius: 80px; background: #20bc5d; color: #fff; padding: 12px 40px; text-transform: uppercase; font-size: 1.2rem;width: 180px; display: inline-block;}
.btn-subcription:focus, .btn-subcription:hover{background: #000;color: #fff;text-decoration: none}
.subscription-image{width: 80%;margin: 0 auto}
.widget-container{width: 100%;position: relative;display: inline-block;padding: 5% 0;}
.widget-container:after {position: absolute; content: ""; background: url(../images/green-strip.png) no-repeat; width: 100%; height: 100%; left: 50%; margin: 0 auto; top: 55%; transform: translate(-50%,-50%); z-index: -1; }
.widget-title{font-family: "Poppins-Bold", sans-serif;color: #24313c }
.widget-list ul{font-family: 'Poppins-SemiBold', sans-serif; padding: 20px 0;    font-size: 0.875rem;}
.widget-list ul li {margin-bottom: 10px;}
.widget-list ul li i{color:#20bc5d;}
.pack-container{width: 100%;display:inline-block;position: relative;background: #f1f1f1;padding: 8% 0;margin: 0 auto;text-align: center}
.pack-title h3{font-family: "Poppins-Bold", sans-serif;}
.pack-subtitle{color: #abafb8;width: 50%; margin: 0 auto; text-transform: uppercase; padding-bottom: 40px;}
.pricing-panel{width: 70%;margin: 0 auto;text-align: center}
.pricing-box{background: #fff;border-top:3px solid #20ba5e;padding: 20px}
.pricing-box h2{display: block}
.pricing-title{color: #000;  font-family: 'Poppins-Bold', sans-serif; font-weight: 600;text-transform: uppercase}
.pricing-desc{color: #abafb8;}	
.price	{font-size: 2.5rem;color: #20ba5e;font-family: "Poppins-Bold", sans-serif; }
.price sup{font-size: 1.5rem;color: #20ba5e;font-family: "Poppins-Bold", sans-serif; }
.price span{font-size: 1.5rem;color: #20ba5e;font-family: "Poppins-SemiBold", sans-serif; }
.footer{width: 100%;display:inline-block;position: relative;background: #191c21;padding: 5% 0;color: #fff}
.logo-green{margin: 10px 0;}
.footer-links ul , .social-links ul{list-style: none;}
.footer-links ul li, .social-links ul li{margin-bottom: 15px;}
.footer-links ul li a, .social-links ul li a{ border-bottom: 1px solid #eeeeee;color: #fff;text-decoration: none;font-size: 1rem; white-space: nowrap;}
.footer-links ul li a:hover, .social-links ul li a:focus{color: #20bc5d;border-bottom: 1px solid #20bc5d;}
.profile-rating{width: 100%;display: inline-block;margin: 0 auto;}
.profile-rating img{float: left;padding: 0 10px}
.profile-rating .rating{  font-family: "Poppins-Regular", sans-serif; text-align: center;float: left}
.profile-rating .rating span{font-size: 0.625rem}
.circle{border-radius: 50%;  width: 30px; height: 30px; margin: 0 auto; text-align: center; line-height: 30px!important;}
.social-links .fa-twitter{background: #44b5e8;}
.social-links .fa-facebook{background: #274ca9;}
.social-links .fa-google-plus{background: #eb392b;}
.social-links a{margin-left:10px;}
.inner-banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height:250px;
  overflow: hidden;
  padding-top: 100px;
}	
.banner-content {
  width: 70%;
  padding:1% 0 2% 0;
  margin: 0 auto;
  color: #fff;
	text-align: center;
}
.contact {background-image: url(../images/banner-contact.png);}
.banner-content h2{
  color: #fff;
}
.banner-content p{
  color:#fff;
  font-size: 1.5rem;
}
.contact-form, .terms-description, .faq-detail{
  width: 100%;
  display: inline-block;
  padding: 5% 0;
}
.contact-form label{
  color: #757575;
}
.contact-form input{
		   margin-bottom: 20px;
}
.btn-send{
  margin: 10px 0;
	border-radius: 80px;
  background: #20bc5d;
  color: #fff;
  padding: 12px 40px;
  text-transform: uppercase;
  border: solid 1px transparent;
  font-size: 1.2rem;
  width: 180px;
  display: inline-block;
}
.btn-send:hover { background: #000; }
.contact-form ul li span{    padding-left: 10px;}
.about {background-image: url(../images/banner-about.png);}


.testimonials {
  background: #f0f0f0;
  padding: 30px 10px 10px;
  border-radius: 50px;
}
.testimonials h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 0px 0 60px;
}
.testimonials h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #1eb858;
  left: 0;
  right: 0;
  bottom: -10px;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 50px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview { 
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #1eb858;
  display: block;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 36px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px !important;
  height: 10px !important;
  margin: 1px 3px;
  border-radius: 50%;
  border: 1px solid #fff !important;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
/*faq */
.faq {background-image: url(../images/banner-faq.png);}
.banner-faq p{margin: 0 auto;color: #fff;}
.faq-queries .card{
	border-top:none ;
	border-right:none ;
	border-left:none ;
	border-bottom: 1px solid #e5e5e5;}
.faq-queries .card-header{
	background: #fff;
	border:none ;
	padding: .75rem 0rem;
	font-size: 18px;
	font-weight: 600;
	display: table-cell;
}
.faq-queries .card-link{
	display: table;
	color: #24313c;
}
.faq-queries .card-link:hover h6{
	text-decoration: underline;
	text-decoration-color: #425869;
	color: #425869;
}
.faq-queries .card-link .ico-plus{
	font-size: 24px;
	display: table-cell;
	padding-right: 0.25rem;

}
.faq-queries .card-body{
	    padding:0 0 0.5rem 1.25rem;
	color: #425869;
}
.terms{background-image: url(../images/banner-terms.png);}
.terms-description p{    
	padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;}
.privacy {background-image: url(../images/banner-privacy.png);}
/*media query*/
	
@media (min-width: 768px) and (max-width: 1024px)
{

}

@media only screen and (max-width:767px) 
{
.hero-image{height: auto;}
.top-header {border-bottom: 4px solid #20ba5e;background: #000;}
.top-header .navbar-dark .navbar-nav .nav-link:hover, .top-header .navbar-nav .nav-link:focus{background: #20ba5e;color: #fff}
.free-subscribe{margin: 10px 20px 0;}
.search-by-phone{padding: 0 2%;}
.subscription-image{margin-top: 0px}
.btn-search .single{max-width: 100%;margin: 0 20px;}
.btn-search .single .form-control{font-size:1rem;}
.banner-caption{position: relative;top:0;left: 0;transform: none}
.subscription-image{width: 100%;margin-top:30px}
.widget-container:after{background: none;}	
.showcase-img, .pack-subtitle, .pricing-panel{width: 100%}
.pricing-box{margin-bottom: 20px;}
.profile-rating img{float:left;	}
.footer-links ul, .social-links ul{padding-left: 0px}	
.search-by-phone{padding: 20% 0% 5%}
.btn-search .single .btn{min-width: 100px;}

	
}

@media only screen and (max-width: 414px) 
{
.top-header .logo{width: 280px;padding: 0 20px;}
.top-header .navbar-dark .navbar-nav .nav-link{padding: 10px 20px;}
.pricing-title{font-weight: 400}
.banner-content{width: 100%;padding: 5%;}
}