/* input[type="password"] {
  color: transparent;
} */



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
	color: #57b846;
}
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}
 input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
}
textarea {
	outline: none;
	border: none;
}
textarea:focus, input:focus {
	border-color: transparent !important;
}
 input:focus::-webkit-input-placeholder {
color:transparent;
}
input:focus:-moz-placeholder {
color:transparent;
}
input:focus::-moz-placeholder {
color:transparent;
}
input:focus:-ms-input-placeholder {
color:transparent;
}
 textarea:focus::-webkit-input-placeholder {
color:transparent;
}
textarea:focus:-moz-placeholder {
color:transparent;
}
textarea:focus::-moz-placeholder {
color:transparent;
}
textarea:focus:-ms-input-placeholder {
color:transparent;
}
 input::-webkit-input-placeholder {
color: #999999;
}
input:-moz-placeholder {
color: #999999;
}
input::-moz-placeholder {
color: #999999;
}
input:-ms-input-placeholder {
color: #999999;
}
 textarea::-webkit-input-placeholder {
color: #999999;
}
textarea:-moz-placeholder {
color: #999999;
}
textarea::-moz-placeholder {
color: #999999;
}
textarea:-ms-input-placeholder {
color: #999999;
}
label {
	display: block;
	margin: 0;
}
/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.4;
	color: #999999;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
	width: 100%;
	margin: 0 auto;
}
.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #17191e;
}
.wrap-login100 {
	width: 535px;
	background: #fff;
	/*border-radius: 10px;*/
	overflow: hidden;
	position: relative;
}
/*==================================================================
[ Title form ]*/
.login100-form-title {
	width: 100%;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 15px 20px 15px;
}
.login100-form-title h1{ color: #fff };

.login100-form-title-1 {
	font-family: Poppins-Bold;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	margin-top: 20px;
}
.login100-form-title::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(24,146,121,0.8);
}
/*==================================================================
[ Form ]*/

.login100-form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 88px 35px 190px;
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #b2b2b2;
}
.label-input100 {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.2;
	text-align: right;
	position: absolute;
	top: 14px;
	left: -105px;
	width: 80px;
}
.label-input50 {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 1.2;
	text-align: right;
	position: absolute;
	top: 14px;
	left: -220px;
	width: 200px;
}
/*---------------------------------------------*/
.input100 {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #555555;
	line-height: 1.2;
	display: block;
	width: 100%;
	background: transparent;
	padding: 0 5px;
}
.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}
.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 1px;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
	background: #57b846;
}
/*---------------------------------------------*/
input.input100 {
	height: 45px;
}
.input100:focus + .focus-input100::before {
	width: 100%;
}
.has-val.input100 + .focus-input100::before {
	width: 100%;
}
/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
	display: none;
}
.label-checkbox100 {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #999999;
	line-height: 1.4;
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}
.label-checkbox100::before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 13px;
	color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #e6e6e6;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.input-checkbox100:checked + .label-checkbox100::before {
	color: #189279;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 160px;
	height: 50px;
	border-radius: 25px;
	background-color: #17191e;
	font-family: Poppins-Regular;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.login100-form-btn:hover {
	background-color: #189279;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
.login100-form {
	padding: 43px 15px 57px 117px;
}
}

@media (max-width: 480px) {
.login100-form {
	padding: 43px 15px 57px 15px;
}
.label-input100, .label-input50 {
	text-align: left;
	position: unset;
	top: unset;
	left: unset;
	width: 100%;
	padding: 0 5px;
}
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
	position: relative;
}
.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 2px;
	pointer-events: none;
	font-family: Poppins-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
}
.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}
.txt_green {
	color: #189279;
}
#dataTable_wrapper {
	overflow: hidden;
}
.dataTables_length label {
	white-space: nowrap
}
.dataTables_paginate {
	float: right;
}
.img-profile {
	border: 1px solid #e3e6f0;
	padding: 2px 7px;
}
.success-msz {
	padding: 20px;
	width: 60%;
	position: relative;
	display: block;
	margin: 20px auto;
	text-align: center
}
.btn-dashboard {
	display: inline-block;
	margin: 20px;
	padding: 15px;
	min-width: 160px;
	height: 50px;
	border-radius: 25px;
	background-color: #17191e;
	font-family: Poppins-Regular;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.btn-dashboard:hover {
	background: rgba(42,184,101,1);
	color: #fff;
}
.red {
	color: red
}
.txt-white {
	color: #fff;
}
.m-title {
	display: flex;
	justify-content: center;
	align-items: center
}
.m-title span {
	padding: 10px;
}
.user-icon {
	/*	float: left;*/
	padding: 10px;
	border: 1px solid #fff;
	font-size: 3.5rem;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.signup-link {
	text-align: right;
	display: inline-block;
	width: calc(100% - 160px);
	padding: 15px 0;
}
.signup-link a {
	color:#189279;
	text-transform: capitalize;
	padding: 12px 0px 15px 15px;
}
.error {
	margin-top: -20px;
	margin-bottom: 15px;
}
.error-page {
	width: 100%;
	height: 100vh;
	background: url(images/bg-error.jpg) no-repeat;
	background-size: cover;
	background-position-y: center;
}
.pc-error {
	width: 30%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pc-error img {
	width: 100%;
}
.error-msz {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.error-msz h1 {
	font-size: 5rem;
}
.error-msz .btn-home {
	cursor: pointer;
	margin: 10px 0;
	background: #20ba5e;
	color: #fff;
	border-radius: 10rem;
	display: inline-block;
	padding: 0.8rem 1.5rem!important;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}
.error-msz .btn-home:hover {
	background: #000;
}
.validate-error div {
	padding-bottom: 10px;
}
.login-link a {
	padding: 12px 20px;
	border-radius: 25px;
	height: 50px;
	width: 160px;
	margin: 0 20px;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.danger-msz {
	position: fixed!important;
	top: 20px!important;
	right: 0;
	z-index: 999999;
	overflow: hidden;
	max-width: 75%;
	height: 76px;
	position: relative;
	-webkit-animation-name: slidein;
	-webkit-animation-duration: 2s;
	animation-name: slidein;
	animation-duration: 2s;
}
.danger-msz .alert {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slidein {
 0% {
 right:-200px;
 width: 10%
}
 100% {
 right:0;
 width: 75%
}
}

/* Standard syntax */
@keyframes slidein {
 0% {
 right:-200px;
 width: 10%
}
 100% {
 right:0;
 width: 75%
}
}
.img-profile {
	border: 1px solid #e3e6f0;
	padding: 2px 7px;
}
#myModal .form-group {
	margin-bottom: 0px;
}
#dataTable_wrapper {
	overflow: hidden;
}
.dataTables_length label {
	white-space: nowrap
}
.dataTables_paginate {
	float: right;
}
.red{color:red}




@media (max-width: 992px) {
.alert-validate::before {
	visibility: visible;
	opacity: 1;
}
}

@media (max-width: 992px) {
.success-msz {
	width: 100%;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.logo {
	width: 260px;
}
}
