.widget-box.vertical{width: 75%;margin: 0 auto}
.widget-box.horizontal{width: 100%;margin: 0 auto}
.widget-box.grey{background: #f2f2f2;border: 1px solid #ddd;}
.widget-box.yellow{background: #f6d487;border: 1px solid #eabe5d;}
.widget-box.white{background: #fff;border: 1px solid #ddd;}
.widget-box{color:#000}