<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs%>
</head>

<body id="page-top">
<!-- Insert Body here -->
<!-- Page Wrapper -->
<div id="wrapper">
  <% include sidebar.ejs %>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column"> 
    <!-- Main Content -->
    <div id="content">
      <% include topmenu.ejs %>
      <!-- Begin Page Content -->
        <div class="container-fluid"> 
           <%- body %>
        </div>       
      <!-- Content Row --> 
    </div>
    <!-- /.container-fluid --> 
    <% include footer.ejs%>
  </div>
  <!-- End of Main Content -->   
</div>
</body>
</html>

