<% if (pages > 0) { %>
<ul class="pagination pagination-sm text-center">
  <% if (current == 1) { %>
  <li class=" page-item previous disabled"><a class="page-link">First</a></li>
  <% } else { %>
  <li class=" page-item previous"><a  class="page-link" href="<%= pageUrl %>1">First</a></li>
  <% } %>
  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
  <% if (i !== 1) { %>
  <li class="page-item disabled"><a class="page-link">...</a></li>
  <% } %>
  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
  <% if (i == current) { %>
  <li class="page-item active"><a class="page-link"><%= i %></a></li>
  <% } else { %>
  <li class="page-item"><a class="page-link" href="<%= pageUrl %><%= i %>"><%= i %></a></li>
  <% } %>
  <% if (i == Number(current) + 4 && i < pages) { %>
  <li class="page-item disabled"><a class="page-link">...</a></li>
  <% } %>
  <% } %>
  <% if (current == pages) { %>
  <li class=" page-item disabled next"><a class="page-link">Last</a></li>
  <% } else { %>
  <li class=" page-item next"><a class="page-link" href="<%= pageUrl %><%= pages %>">Last</a></li>
  <% } %>
</ul>
<% } %>