<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-black sidebar sidebar-dark accordion" id="accordionSidebar">    
  <!-- Sidebar - Brand --> 
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/">
      <div class="sidebar-brand-icon"> <i class="fas fa-user-alt"></i> </div>
      <div class="sidebar-brand-text mx-3">Admin</div>
      </a>     
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active"> <a class="nav-link" href="/admin"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>

  <!-- <li class="nav-item"> <a class="nav-link" href="product-plans.html"> <i class="fas fa-fw fa-list-alt"></i> <span>Product Plans </span></a> </li> -->
  <li class="nav-item"> <a class="nav-link" href="/admin/users"> <i class="fas fa-fw fa-users"></i> <span>Users Management </span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="/admin/bet"> <i class="fas fa-fw fa-list"></i> <span>Bet Management </span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="/admin/games"> <i class="fas fa-fw fa-list"></i> <span>Games Management </span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="/admin/sponsors"> <i class="fas fa-fw fa-file"></i> <span>Sponsors Management</span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="/admin/tournaments"> <i class="fas fa-fw fa-file"></i> <span>Tournaments Management</span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="/admin/challenges"> <i class="fas fa-fw fa-file"></i> <span>Challenges Management</span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="site-settings.html"> <i class="fas fa-fw fa-cog"></i> <span>Site Settings</span></a> </li>

  <li class="nav-item"> <a class="nav-link" href="payment-history.html"> <i class="fas fa-fw fa-credit-card"></i> <span>Payment History </span></a> </li>
  
   
  <li class="nav-item"> <a class="nav-link" href="detailed-report.html"> <i class="fas fa-fw fa-search"></i> <span>Investigator Que</span></a> </li>
   <li class="nav-item"> <a class="nav-link" href="query-management.html"> <i class="fas fa-fw fa-envelope"></i> <span>Customer eMail Query Management</span></a> </li>
  <!-- Divider -->
 
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
</ul>
    <!-- End of Sidebar -->